#about-us{
    max-width: 70%;
    margin-top: 20px;
    margin-bottom: 40px;

    p{
        font-size: 90%;
    }

    p, h1, h2, h3, h4{
        color: #333;
    }

    h1{
        font-family: "Oswald", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        font-size: rem-calc(55);
        text-align: right;
    }

    img{
        border-bottom: 5px solid #333;
        padding-bottom: 20px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    @media (max-width: 600px){
         h1{
            font-family: "Oswald", Helvetica, Arial, sans-serif;
            text-transform: uppercase;
            font-size: rem-calc(62);
            letter-spacing: 2px;
            text-align: center;
        }
    }
}