#contact{
    max-width: 70%;
    margin-top: 20px;
    margin-bottom: 40px;

    p, h1, h2, h3, h4, a{
        opacity: 1;
        color: #333;
        text-align: center;
    }

    .button{
        color: #f6f6ef;
    }

    p{
        font-size: 90%;
    }

    h1{
        font-family: "Oswald", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        font-size: rem-calc(78);
        letter-spacing: 2px;
        text-align: center;
    }

    h2{
        font-family: "Oswald", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        font-size: rem-calc(42);
        letter-spacing: 2px;
        text-align: center;
    }

    a{
        opacity: .66;
    }

    a:hover{
        opacity: 1;
    }

    .questions{
        margin-bottom: 40px;

        textarea {
            height: auto;
        }

    }

    form{
        padding-bottom: 20px;
        border-bottom: 5px solid $oil;
        margin-bottom: 40px;
    }

    .map{
        text-align: center;

        iframe{
            width: 600px;
            height: 450px;
            frameborder: 0;
            border-style: none;
        }

        img{
            display: none;
        }
    }

    @media (max-width: 600px){
         h1{
            font-family: "Oswald", Helvetica, Arial, sans-serif;
            text-transform: uppercase;
            font-size: rem-calc(52);
            letter-spacing: 2px;
            text-align: center;
        }

        h2{
            font-family: "Oswald", Helvetica, Arial, sans-serif;
            text-transform: uppercase;
            font-size: rem-calc(25);
            letter-spacing: 2px;
            text-align: center;
        }
    }

    @media (max-width: 1024px){

        form{
            text-align: center;
        }

        .map{
            text-align: center;

            iframe{
                width: 70%;
                height: 350px;
                frameborder: 0;
                border-style: none;
            }

            img{
                display: none;
            }
        }

    }

    @media (max-width: 600px){

        .map{
            text-align: center;

            iframe{
                display: none;
            }

            img{
                display: inline;
            }
        }

    }
}