header{
    transition: background-color 0.5s ease;
    background-color: #282c89;

    .masthead{
    max-width: 90%;
    }


    img{
        width: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
        display: inline;
        float: left;
    }

    .nav-cont{
        margin-top: 3%;
    }

    nav{
        width: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    ul{
        display: inline-block;
        margin: 0 auto;
    }

    li{
        display: inline;
        padding-right: 15px;
        color: #fff;
        font-family: "Copse", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 16px;
    }
}

body{
    transition: background-color 0.5s ease;
    background-color: #F0302B;
}

#main-container{
    width: 80%;
    margin-top: 20px;
    margin-bottom: 40px;


    .space{
        border: 1px solid transparent;
    }

// BEERS //

    .beer-type {
        top: 0px;
        margin-top: 40px;

        p{
            font-family: "Copse", Helvetica, Arial, sans-serif;
            color: #fff;
            letter-spacing: .5px;
            font-size: 100%;
        }

        li{
            padding-right: 15px;
            color: #fff;
            font-family: "Copse", Helvetica, Arial, sans-serif;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 16px;
        }
    }

    .geek-stats li{
        font-family: "Copse", Helvetica, Arial, sans-serif;
        color: #fff;
        letter-spacing: .5px;
        font-size: 12px;
        list-style: none;
    }

    .beer-img{
        transition: left;
        position: absolute;
        margin-top: -80px;

        img{
            max-width: 80%;
        }

    }

    .no-display{
        display: none;
    }



    @media (max-width: 600px){

        .beer-can{
            margin-top: 30px;

            img{
                max-width: 70%;
            }
        }

        .beer-img{
            position: static;
        }

        .space{
            display: none;
        }

    }

    .icons{
        margin-right: 10px;
        float: left;
    }

    .fa-video-camera{
    color: #fff;
    }

    .fa-video-camera:hover{
    color: #282c89;
    }

}

#beer-nav{
        max-width: 78%;
        z-index: 10;
        position: absolute;
        margin: 17% 0 0 11%;

        .fa-arrow-left{
            float: left;
            transition: opacity 0.5s ease;
            cursor: pointer;
            cursor: hand;
            color: #fff;
            opacity: .66;
        }

        .fa-arrow-left:hover{
            opacity: 1;
        }

        .fa-arrow-right{
            float: right;
            transition: opacity 0.5s ease;
            cursor: pointer;
            cursor: hand;
            color: #fff;
            opacity: .66;
        }

    .fa-arrow-right:hover{
            opacity: 1;
        }
    }

footer{
    transition: background-color 0.5s ease;
    background-color: #282c89;
    clear: both;
}

.foot-container{
    padding: 40px;
    max-width: 70%;
}

.copyright-footer{
    margin-top: 10px;
    text-align: center;
    max-width: 100%;
    margin-bottom: 10px;

    p{
        font-size: 14px;
        color: #fff;
        letter-spacing: .5px;
        font-family: "Copse", Helvetica, Arial, sans-serif;
    }
}

.logo-footer{
    margin-bottom: 20px;
    max-width: 100%;
}

.social-footer{
    max-width: 100%;

    .social-container{
        width: 160px;
        margin: 0 auto;
        }

    .fa {
        margin-top: 10px;
        color: #fff;
        padding-left: 10px;
        padding-right: 10px;
        }
}