header{
    transition: background-color 0.5s ease;
    background-color: #282c89;

    .masthead{
        max-width: 100%;

        .logo-cont{
            background-color: #f0302b;
            text-align: center;
            margin-left: -5%;

            img{
                margin-top: 5%;
                margin-bottom: 5%;
                width: 333px;
            }

            @media (max-width: 1024px){
                margin-left: -5%;
                width: 110%;
            }
        }

    .nav-cont{
        nav{
            line-height: 150%;
            width: 100%;
            margin-top: 7.5%;
            margin-bottom: 5%;
            text-align: center;
        }
    }

    li{
        line-height: 150%;
        display: inline;
        padding-right: 10px;
        color: #fff;
        font-family: "Arvo", Times New Roman, Times, serif;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 15px;
    }

    .selected{ border-bottom: 4px solid #fff;}

    .fa{
        padding-right: 10px;
    }
    }
}

body{
    background-color: #f6f6ef;
}

#about-us{
    max-width: 70%;
    margin-top: 20px;
    margin-bottom: 40px;

    p{
        font-size: 90%;
    }

    p, h1, h2, h3, h4{
        color: #333;
    }

    h1{
        font-family: "Oswald", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        font-size: rem-calc(55);
        text-align: right;
    }

    img{
        border-bottom: 5px solid #333;
        padding-bottom: 20px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    @media (max-width: 600px){
         h1{
            font-family: "Oswald", Helvetica, Arial, sans-serif;
            text-transform: uppercase;
            font-size: rem-calc(62);
            letter-spacing: 2px;
            text-align: center;
        }
    }
}

#contact{
    max-width: 70%;
    margin-top: 20px;
    margin-bottom: 40px;

    p, h1, h2, h3, h4, a{
        opacity: 1;
        color: #333;
        text-align: center;
    }

    p{
        font-size: 90%;
    }

    h1{
        font-family: "Oswald", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        font-size: rem-calc(78);
        letter-spacing: 2px;
        text-align: center;
    }

    h2{
        font-family: "Oswald", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        font-size: rem-calc(42);
        letter-spacing: 2px;
        text-align: center;
    }

    a{
        opacity: .66;
    }

    a:hover{
        opacity: 1;
    }

    .map{
        text-align: center;

        iframe{
            width: 600px;
            height: 450px;
            frameborder: 0;
            border-style: none;
        }

        img{
            display: none;
        }
    }

    @media (max-width: 600px){
         h1{
            font-family: "Oswald", Helvetica, Arial, sans-serif;
            text-transform: uppercase;
            font-size: rem-calc(62);
            letter-spacing: 2px;
            text-align: center;
        }

        h2{
            font-family: "Oswald", Helvetica, Arial, sans-serif;
            text-transform: uppercase;
            font-size: rem-calc(25);
            letter-spacing: 2px;
            text-align: center;
        }
    }
    @media (max-width: 1024px){

        .map{
            text-align: center;

            iframe{
                width: 70%;
                height: 350px;
                frameborder: 0;
                border-style: none;
            }

            img{
                display: none;
            }
        }

    }

    @media (max-width: 600px){

        .map{
            text-align: center;

            iframe{
                display: none;
            }

            img{
                display: inline;
            }
        }

    }
}

#tours{
    max-width: 70%;
    margin-top: 20px;
    margin-bottom: 40px;

    p, li{
        font-size: 90%;
    }

    p, h1, h2, h3, h4, a{
        opacity: 1;
        color: #333;
    }

    .tour-img-cont{
        text-align: center;
    }

    .directions{

        p{font-size: 80%;}
    }

    img{
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 5px solid #333;
    }

    h1{
        font-family: "Oswald", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        font-size: rem-calc(82);
        letter-spacing: 2px;
        text-align: center;
    }

    h2{
        font-family: "Oswald", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        font-size: rem-calc(65);
        letter-spacing: 2px;
        text-align: center;
    }

    h3{
        font-size: rem-calc(28);
    }

    a{
        opacity: .66;
    }

    a:hover{
        opacity: 1;
    }

    .map{

        iframe{
            width: 100%;
            height: 450px;
            frameborder: 0;
            border-style: none;
        }

        img{
            display: none;
        }
    }

    @media (max-width: 600px){
         h1{
            font-family: "Oswald", Helvetica, Arial, sans-serif;
            text-transform: uppercase;
            font-size: rem-calc(62);
            letter-spacing: 2px;
            text-align: center;
        }

        h2{
            font-family: "Oswald", Helvetica, Arial, sans-serif;
            text-transform: uppercase;
            font-size: rem-calc(25);
            letter-spacing: 2px;
            text-align: center;
        }
    }
    @media (max-width: 1024px){

        .map{
            text-align: center;

            iframe{
                width: 70%;
                height: 350px;
                frameborder: 0;
                border-style: none;
            }

            img{
                display: none;
            }
        }

    }

    @media (max-width: 600px){

        .map{
            text-align: center;

            iframe{
                display: none;
            }

            img{
                display: inline;
            }
        }

    }
}

#events{
    max-width: 70%;
    margin-top: 20px;
    margin-bottom: 40px;

    p{
        font-size: 90%;
    }

    .event{
        border-top: 5px solid #333;
        padding-top: 10px;
    }

    .event:first-of-type{
        border-top: none;
    }

    .event-photo{
        max-width: 100%;
    }

    img{
        border: 1px solid #333;
    }

    p, h1, h2, h3, h4, a{
        opacity: 1;
    }

    .tour-img-cont{
        text-align: center;
    }

    .dates{
        margin-top: 8px;
        text-align: right;
    }

    h1{
        font-family: "Oswald", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        font-size: rem-calc(82);
        letter-spacing: 2px;
        text-align: center;
    }

    h2{
        font-family: "Oswald", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        font-size: rem-calc(65);
        letter-spacing: 2px;
        text-align: center;
    }

    h3{
        font-size: rem-calc(28);
    }

    a{
        color: #333;
        opacity: .66;
    }

    a:hover{
        opacity: 1;
    }

    @media (max-width: 600px){
         h1{
            font-family: "Oswald", Helvetica, Arial, sans-serif;
            text-transform: uppercase;
            font-size: rem-calc(62);
            letter-spacing: 2px;
            text-align: center;
        }

        h2{
            font-family: "Oswald", Helvetica, Arial, sans-serif;
            text-transform: uppercase;
            font-size: rem-calc(25);
            letter-spacing: 2px;
            text-align: center;
        }
    }
}

#beer-menu{
    display: block;
    width: 70%;
    padding-bottom: 20px;
    margin-top: 0px;
    margin-bottom: 40px;

// BEERS //

    .beer-type {
        opacity: 1;
        -webkit-transition: opacity .33s ease-in;
        margin-top: 30px;

        h1{ font-family: "Oswald", Helvetica, Arial, sans-serif;
            text-transform: uppercase;
            display: inline;
            font-size: rem-calc(65);
            font-weight: 700;
            color: #333;
            letter-spacing: .5px;
            }

        p{
            font-family: "Arvo", Times New Roman, Times, serif;
            color: #333;
            letter-spacing: .5px;
            font-size: 90%;
        }

        li{
            padding-right: 15px;
            color: #333;
            font-family: "Arvo", Times New Roman, Times, serif;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 80%;
        }
    }

    .geek-stats li{
        font-family: "Arvo", Times New Roman, Times, serif;
        color: #333;
        letter-spacing: .5px;
        font-size: 12px;
        list-style: none;
    }

    .beer-img{
        transition: left;
        position: absolute;
        margin-top: -50px;
        text-align: center;

        img{
            max-width: 80%;
            text-align: center;
        }

    }

    .no-display{
        display: block;
        width: 0;
        height: 0;
        opacity: 0;
        padding-bottom: 20px;
        margin-top: -60px;
        margin-bottom: 40px;
        overflow: hidden;
    }


    @media (max-width: 750px){

        .beer-can{
            margin-top: 60px;
            text-align: center;

            img{
                max-width: 70%;
            }
        }

        .beer-img{
            position: static;
        }

        .space{
            display: none;
        }

    }

    .icons{
        margin-right: 10px;
        float: left;
    }

    .fa-video-camera{
        transition: background-color 0.5s ease;
        color: #333;
        opacity: .66;
    }

    .fa-video-camera:hover{
        color: #333;
        opacity: 1;
    }

}

#beer-nav{
        max-width: 80%;
        z-index: 1;
        position: absolute;
        margin: 20% 0 0 10%;

        .fa-arrow-left{
            float: left;
            transition: opacity 0.5s ease;
            cursor: pointer;
            cursor: hand;
            color: #333;
            opacity: .66;
        }

        .fa-arrow-left:hover{
            opacity: 1;
        }

        .fa-arrow-right{
            float: right;
            transition: opacity 0.5s ease;
            cursor: pointer;
            cursor: hand;
            color: #333;
            opacity: .66;
        }

    .fa-arrow-right:hover{
            opacity: 1;
        }
    }

.beer-case{
    border-top: 5px solid #333;
    padding: 40px;
    width: 70%;
    margin-bottom: 40px;

    h2{
        font-family: "Arvo", Times New Roman, Times, serif;
        text-transform: uppercase;
        font-weight: 700;
        color: #333;
        letter-spacing: .5px;
        }

    .beer-bug{

        margin-top:20px;

        img{
            text-align: center;
            width: 80px;
        }

        img:hover{
            position: relative;
            top: -5px;}
    }
}

footer{
    transition: background-color 0.5s ease;
    background-color: #282c89;
    border-top: 10px solid #f0302b;
    clear: both;
}

.foot-container{
    padding: 40px;
    max-width: 70%;
}

.copyright-footer{
    margin-top: 10px;
    text-align: center;
    max-width: 100%;
    margin-bottom: 10px;

    p{
        font-size: 14px;
        color: #fff;
        letter-spacing: .5px;
        font-family: "Arvo", Times New Roman, Times, serif;
    }
}

.logo-footer{
    margin-bottom: 20px;
    max-width: 100%;
}

.social-footer{
    max-width: 100%;

    .social-container{
        width: 160px;
        margin: 0 auto;
        }

    .fa {
        margin-top: 10px;
        color: #fff;
        padding-left: 10px;
        padding-right: 10px;
        }
}