header{
    transition: background-color 0.5s ease;
    background-color: #282c89;

    .masthead{
    max-width: 90%;
    }


    img{
        width: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
        display: inline;
        float: left;
    }

    .nav-cont{
        margin-top: 3%;
    }

    nav{
        width: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
        float: left;
    }

    ul{
        display: inline-block;
        margin: 0 auto;
    }

    li{
        display: inline;
        padding-right: 15px;
        color: #fff;
        font-family: "Copse", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 16px;
    }
}

body{
    transition: background-color 0.5s ease;
    background-color: #F0302B;
}

    .fa-arrow-left{
        transition: background-color 0.5s ease;
        cursor: pointer;
        cursor: hand;
        float: left;
        z-index: 10;
        margin-top: 22.5%;
        margin-left: 50px;
        color: #fff;
    }

    .fa-arrow-left:hover{
        color: #282c89;
    }

#main-container{
    height: 600px;
    max-width: 80%;
    margin-top: 20px;

    .space{
        width: 16.66%;
        border: 1px solid transparent;
    }

// BEERS //
    #rodeoclown{
        // All others set display: none to show only one on arrow click.
    }
    #sympathy{
        display: none;
    }
    #hopadillo{
        display: none;
    }
    #weekendwarrior{
        display: none;
    }
    #barnburner{
        display: none;
    }
    #lovestreet{
        display: none;
    }
    #karbachtoberfest{
        display: none;
    }
    #motherinlager{
        display: none;
    }

    .beer-type {
    margin-top: 40px;

        p{
            font-family: "Copse", Helvetica, Arial, sans-serif;
            color: #fff;
            letter-spacing: .5px;
            font-size: 100%;
        }
    }

    .geek-stats li{
        font-family: "Copse", Helvetica, Arial, sans-serif;
        color: #fff;
        letter-spacing: .5px;
        font-size: 12px;
        list-style: none;
    }

    .beer-can{
        margin-top: -50px;

        img{
            max-width: 80%;
        }
    }

        #beer-img{
            position: absolute;
        }

    @media (max-width: 900px){

        .beer-can{
            margin-top: 30px;

            img{
                max-width: 90%;
            }
        }

        #beer-img{
            position: static;
        }

        .space{
            display: none;
        }

    }

    .icons{
        margin-right: 10px;
        float: left;
    }

    .fa-video-camera{
    color: #fff;
    }

    .fa-video-camera:hover{
    color: #282c89;
    }
}

    .fa-arrow-right{
        transition: background-color 0.5s ease;
        cursor: pointer;
        cursor: hand;
        float: right;
        z-index: 10;
        margin-top: 25%;
        margin-right: -75px;
        color: #fff;
    }

    .fa-arrow-right:hover{
        color: #282c89;
    }

footer{
    transition: background-color 0.5s ease;
    background-color: #282c89;
    clear: both;
}

.foot-container{
    max-width: 70%;
}

.copyright-footer{
    padding-top: 40px;
    width: 33%;
    display: inline;

    p{
        font-size: 14px;
        color: #fff;
        letter-spacing: .5px;
        font-family: "Copse", Helvetica, Arial, sans-serif;
    }
}
.logo-footer{
    padding: 40px;
    width: 33%;
    display: inline;
}
.social-footer{
    padding-top: 40px;
    width: 33%;
    display: inline;

.fa {
    float: right;
    color: #fff;
    padding-right: 20px;
}
}